*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background: #00090D;
}

html {
    scroll-behavior:smooth;
}

/* NAVIGATION */

.link-top{
    color: #fff;
    margin: 10px;
    margin-left: 12px;
}

.link-top h3 {
    font-weight: 800;
}

.logo {
    color: #ff5f43;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    background: #00090dbb;
    position: fixed;
    top: 0;
    z-index: 999;
}

.nav-list {
    list-style: none;
    display: flex;
    margin-right: 30px;
}

.nav-list li {
    letter-spacing: 2px;
    margin-left: 15px;
}

.nav-list li a {
    color: #fff;
    font-weight: 800;
}

.nav-list li a:hover {
    color: #00ffe1;
    transition: 0.8s;
}

.hamburguer {
    margin-right: 15px;

    position: relative;
    cursor: pointer;

    display: none;
}

.hamburguer .line1, .line2, .line3 {
    width: 32px;
    height: 2px;
    margin: 7px;
    background: rgba(255, 255, 255, 0.788);
}



@media screen and (max-width: 980px) {
    .hamburguer{
        display: block;
        z-index: 999;
    }

    .nav-list {
        position: fixed;
        align-items: center;
        justify-content: space-between;
        top: 0px;
        right: -100%;

        height: 100vh;
        margin: 0;
        background-color: #00090dbb;

        width: 100%;
        max-width: 250px;

        padding: 140px 20px;

        flex-direction: column;

        transition: 0.6s ease;
    }

    .nav-list a {
        font-size: 20px;
    }

    .nav-list.activeMenu {
        right: 0%;
    }

    .link1 {
        opacity: .0;
    }

    .effectLink1 {
        opacity: .9;
        transition: 2s ease;
        transform: translateX(0px);
        animation: next 0.5s ease-in-out;
    }

    @keyframes next {
        0% {
            transform: translateX(200px);
        }
    }

    .link2 {
        opacity: .0;
    }

    .effectLink2 {
        opacity: .9;
        transition: 3s ease;
        transform: translateX(0px);
        animation: next 1s ease-in-out;
    }

    .link3 {
        opacity: .0;
    }

    .effectLink3 {
        opacity: .9;
        transition: 4s ease;
        transform: translateX(0px);
        animation: next 1.5s ease-in-out;
    }
    
}

.effect1 {
    position: absolute;
    top: 10px;
    margin-bottom: 20px;
    width: 32px;
    height: 2px;
    background: #fff;
    transition: 0.6s ease;
    transform: rotate(135deg);
}

.effect2 {
    width: 32px;
    height: 2px;
    margin: 8px;
    background: transparent;
}

.effect3 {
    width: 32px;
    margin-bottom: 20px;
    background: #fff;
    transition: 0.6s ease;
    transform: rotate(-135deg);
}



/* LAYOUT */

#layout {
    background: url(../img/fundo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;    
}

.layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90vh;
    margin: 0 auto;
}

.layout h1 {
    font-size: 4vw;
    color: #fff;
    text-align: center;
    font-weight: 900;
}

.layout h2 {
    font-size: 3vw;
    font-weight: 900;
    color: #00ffe1;
    padding: 10px;
}

.simpleTyping {
    animation: typing 2.5s steps(40), blink .3s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid #fff;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 45%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.layout h3 {
    font-size: 2vw;
    color: #fff;
    padding: 10px;
}

.Arrow-about {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vejaMais {
    font-size: 2vw;
    color: #fff;
    transform: translateY(0px);
    animation: float 2s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(5px);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(5px);
    }
}

/* ABOUT */

.borderBottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

#about h1 {
    color: #fff;
    border-bottom: 4px solid #00ffe1;
    display: table;
    margin: 30px 0 40px 0;
}

.descriptionAbout {
    display: flex;
    justify-content: space-between;
}

.myPicture {
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myPicture img {
    border-radius: 50%;
    width: 400px;
}

@media(max-width: 950px) {
    .myPicture {
        display: none;
    }

    .descriptionAbout {
        display: flex;
        justify-content: center;
    }

}

.myDescription {
    width: 600px;
}

.myDescription p {
    color: #fff;
    font-size: 1.5vw;
    text-align: justify;
    padding: 20px;
    line-height: 30px;
}

/* TECHNOLOGY */

.technology {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.technologyItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.technologyItem img {
    width: 50px;
}

.technologyItem p {
    color: #fff;
    font-weight: 700;
    padding-top: 10px;
}

/* PREVIEW-PORTFÓLIO */
#PreviewPortfolio {
    background: url(../img/fundoPortfolio.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: inset 0px 0px 500px 1px rgba(0, 0, 0, 0.753);
}

#PreviewPortfolio .borderBottom h1 {
    color: #fff;
    border-bottom: 4px solid #00ffe1;
    display: table;
    margin: 30px 0 40px 0;
}

.Btn-SeeMore {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.Btn-SeeMore a {
    padding: 5px 10px;
    border-radius: 25px;
    border: solid 0.2vw #00ffe1;
    color: #fff;
    font-weight: bold;
}

.Btn-SeeMore a:hover {
    background: #00ffe1;
    color: #000;
    transition: 0.4s ease-in-out;
}


/* FOOTER */

footer {
    background-color: #0D1F26;
    position: relative;
}

.areaRedesSociais {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.areaRedesSociais i {
    font-size: 30px;
    margin: 10px 30px;
    color: #fff;
}

.areaRedesSociais i:hover {
    color: #00ffe1;
    transition: 0.8s;
}

.create {
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 1vw;
    padding: 15px;
}

.Freepik {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Freepik a {
    color: #fff;
    font-size: 0.8vw;
    padding: 10px;
}

.Freepik a:hover {
    color: #00ffe1;
    transition: 0.8s;
}

.backTop {
    display: inline-block;
    position: relative;
    left: 95%;
    bottom: 60px;
    transform: rotate(90deg);
    font-weight: bold;
}

.backTop p {
    color: #fff;
    font-weight: bold;
}

.backTop i {
    margin-right: 15px;
    color: #fff;
    transform: translateX(0px);
    animation: top 1.5s ease-in-out infinite;
}

/* PORTFÓLIO */

#portfolio {
    background: url(../img/fundoPortfolio.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;  
    box-shadow: inset 0px 0px 500px 1px rgba(0, 0, 0, 0.753);
}

#portfolio h1 {
    color: #fff;
    border-bottom: 4px solid #00ffe1;
    display: table;
    margin: 80px 0 40px 0;
}

.contents_Portfolio {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    width: 25vw;
    min-width: 280px;
    margin: 30px;
}

.item img {
    width: 100%;
    border-radius: 25px;
}

.item h3 {
    color: #00ffe1;
    font-size: 1.5em;
    text-align: center;
    padding: 15px;
}

.item p {
    color: #fff;
    font-size: 1em;
    text-align: center;
    padding: 15px;
    font-weight: bold;
}

/* CONTACT */

#contact {
    background: url(../img/fundoContato.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;  
    height: 100vh;
    box-shadow: inset 0px 0px 500px 1px rgba(0, 0, 0, 0.753);
}

.FormContact {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact form {
    background: rgba(93, 128, 168, 0.308);
    padding: 50px 30px;
    border-radius: 25px;
    border: solid rgba(255, 255, 255, 0.13) 2px;
    width: 30vw;
    min-width: 380px;
    max-width: 500px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.459);

    backdrop-filter: blur(2px)
}
#contact label {
    font-size: 1.2em;
    font-weight: 600;
    padding: 5px 0px;
    color: #fff;
}

#contact input {
    height: 30px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

#contact textarea {
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #0a171d;
    font-family: Arial, Helvetica, sans-serif;
}

#contact form {
    display: flex;
    flex-direction: column;
}

#contact .btn-submit {
    height: 35px;
    border-radius: 8px;
    border: none;
    background: linear-gradient(0deg,#0f6157, #00ffe1);
    box-shadow: 1px 1px 5px #000;
    font-weight: 800;
    font-size: 1.2em;
    cursor: pointer;
}   

@keyframes top {
    0% {
        transform: translateX(5px);
    }

    50% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(5px);
    }
}


/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    /* LAYOUT */
    .layout h1 {
        font-size: 11vw;
        padding-bottom: 10px;
    }

    .layout h2 {
        font-size: 7vw;
        padding: 0;
    }
    
    .simpleTyping {
        animation: typing 2.5s steps(25), blink 0.4s step-end infinite alternate;
        white-space: nowrap;
        overflow: hidden;
        border-right: 3px solid #fff;
    }
    
    @keyframes typing {
        from {
            width: 0%;
        }
    
        to {
            width: 90%;
        }
    }
    
    @keyframes blink {
        50% {
            border-color: transparent;
        }
    }

    .layout h3 {
        font-size: 5.2vw;
        color: #fff;
        padding: 10px;
        font-weight: 800;
    }
    
    .vejaMais {
        font-size: 4vw;
        color: #fff;
    }

    /* ABOUT */

    .myDescription p {
        font-size: 5vw;
        padding: 20px;
        line-height: 30px;
    }

    /* TECHNOLOGY */

    /* PORTFÓLIO */

    .slider {
        width: 380px;
        height: 200px;
    }
    
    .slides {
        width: 400%;
        height: 200px;
    }
    
    .slide {
        width: 25%;
    }
    
    .slide img {
        width: 380px;
    }

    .manul-navigation {
        width: 380px;
        margin-top: -60px;
    }
    
    .manual-btn {
        border: 2px solid #00ffe1;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.5s;
    }
    
    .manual-btn:not(:last-child){
        margin-right: 40px;
    }
    
    .manual-btn:hover{
        background-color: #00ffe1;
    }
    
    #radio1:checked ~ .first {
        margin-left: 0;
        transition: 1s;
    }
    
    #radio2:checked ~ .first {
        margin-left: -25%;
        transition: 1s;
    }
    
    #radio3:checked ~ .first {
        margin-left: -50%;
        transition: 1s;
    }
    
    .navigation-auto  div{
        border: 2px solid #00ffe1;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.5s;
    }
    
    .navigation-auto {
        position: absolute;
        width: 380px;
        margin-top: 140px;
    }

    .Btn-SeeMore a {
        border: solid 0.8vw #00ffe1;
    }

    /* FOOTER */ 

    .create {
        font-size: 3vw;
    }   

    .Freepik a {
        font-size: 2.5vw;
    }

    .backTop {
        left: 85%;
        bottom: 60px;
    }

    .item {
        border-bottom: 2px solid rgba(255, 255, 255, 0.253);
    }

}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    
}
